@media screen and (max-width: 1200px) {

  body, html {
    overflow-x:inherit;
  }

  .project-box .project-icon .front-content h4, .project-box .project-content h4 {
    font-size:1.25rem ;
    max-width: 85%;
    width: fit-content;
  }

  .project-box .project-content p {
    font-size: 1rem;
  }

  .project-box .project-content img {
    height: 28px;
    padding: 0 3px;
  }

  .contentblock {
    max-width: 860px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .contentblock .role {
    box-sizing: border-box;
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
  }

  .contentblock .right p {
    padding-right: 30px;
  }

  #homepage .howzit {
    padding: 40px 60px;
    width: 60%;
  }

  .tasks .screens img {
      width: 142px;
  }

}
  /***** PROJECTS *****/


@media screen and (max-width: 960px) {
  /* GLOBAL */

  .study .hero {
    height: 100vh;
  }

  .study .hero .hero-back {
    position: relative;
    height: 50vh;
  }

  .study .hero .hero-left {
    max-width: 40%;
  }

  .contentblock {
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 50px;
  }

  .contentblock .left, .contentblock .right {
    width: 100%;
    box-sizing: border-box;
  }

  .contentblock .left {
    padding-bottom: 20px;
  }

  section.greyback {
    padding-bottom: 50px;
  }

  .contentblock .swot-logos {
    flex-direction: column;
  }

  .contentblock .swot-logos img {
    padding-bottom: 50px;
  }

  .contentblock .swot-logos img:last-child, div.features .feature:last-of-type {
    padding-bottom: 0;
  }

  .solution .contentblock {
    padding: 50px 40px;
  }

  .pip {
    margin-top: 50px;
    padding: 50px 0;
  }

  .picset {
    margin-top: 50px;
  }

  img.lrg-img {
    margin-top: 50px;
  }

  div.features .feature {
    padding-bottom: 50px;
  }

  div.features .feature, div.skillz .skill {
    width: 100%;
    max-width: 300px;
    padding: 0 15px;
  }


  /* HOMEPAgE */
  #hp-hero {
      background-image: url(../assets/images/hp_background_mob.jpg);
  }

  #homepage .howzit {
    padding: 40px 60px;
    width: 70%;
  }

  #homepage #project-links {
    position: inherit;
  }

  #project-links .tile {
    display: block;
  }

  .project-box{
    width: 90%;
    float: none;
    display: block;
    position: relative;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
  }

  .project-content .cell {
    position: relative;
  }

  .project-box a {
    color: #fff;
  }

  .project-icon{
    width: 100%;
    height: 260px;
    text-align: center;
    transition: all .5s ease;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .project-box .project-icon .front-content h4, .project-box .project-content h4 {
    font-size:1.65rem ;
    max-width: 100%;
    width: fit-content;
  }

  .project-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 260px;
  }

  .project-content .cell {
    position: relative;
  }

  .project-box .project-content p {
    font-size: 1.125rem;
    padding-left: 20px;
    padding-right: 20px;
    width: 55%;
  }

  .project-box .project-content img {
    height: 36px;
    padding: 0 6px;
  }

  .project-key {
    display: block;
    padding-top: 10px;
  }

  .project-key .keyterm {
    display: block;
    width: 90%;
    text-align: center;
    padding-top: 20px;
    margin: 0 auto;
  }

  .project-key .keyterm h6.mini {
    padding-left: 0;
  }

  /* ABOUT */
  #about .hero {
   display: block;
   margin-top: 0;
  }

  #about .hero-left {
    width: 100%;
    height: 400px;
    display: block;
  }

  #about .hero-left img {
    width: 100%;
    overflow: hidden;
  }

  #about .hero-right {
    background: #000;
    width: 100%;
    box-sizing: border-box;
    padding: 70px 20px 0;
    position: relative;
  }

  #about .hero-right .links {
    display: flex;
    justify-content: space-around;
  }

  #about .hero-right .links a {
    margin: 30px 0 0 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  #about section.features, #about section.skillz {
    padding: 100px 30px;
  }

  #about div.features, #about div.skillz {
    flex-direction: column;
    padding: 0;
  }

  #about div.features .feature, #about div.skillz .skill {
    padding: 0 0 70px;
    width: 100%;
  }

  #about div.features .feature:last-of-type, #about div.skillz .skill:last-of-type {
    padding:0;
  }

  #about .contentblock .left {
    text-align: center;
    padding-bottom: 20px;
  }

  #about .contentblock .left img {
    width: 80px;
  }

  #about #bio {
    padding-bottom: 0;
  }

  #about .avatar {
    height: auto;
  }

  #about .avatar h5 {
    width: 100%;
    box-sizing: border-box;
    left: 0;
    bottom: 130px;
    margin-bottom: -130px; /* bottom offset */
    border-radius: 0;
    padding: 160px 30px 30px;
    display: block;
    text-align: center;
    max-width: inherit;
    box-shadow: none;
  }



  /***** AETLAS *****/
  #hazel .features .branding {
    max-width: 95%;
    text-align: center;
    margin: 0 auto;
  }

  #hazel .tasks {
    display: block;
    flex-wrap: nowrap;
  }

  #hazel .tasks .screens {
    width: 100%;
  }

  #hazel .tasks .screens img {
    width: 30%;
    margin: 0;
  }

  #hazel #testing .picset .three img {
    padding: 0 15px 50px;
    box-sizing: border-box;
  }

  #hazel #testing .picset .three img:last-of-type {
    padding: 0 15px 0;
  }

}

@media screen and (max-width: 768px) {
  .nomobile {
    display: none;
  }

  #homepage .howzit {
    padding: 0 20px;
    width: 100%;
  }

  .project-box .project-content p {
    font-size: 1.125rem;
    width: auto;
  }

  .study .hero .hero-back {
    position: relative;
    height: 100vh;
    background: transparent;
  }

  .study .hero .hero-front {
    flex-direction: column-reverse;
    width: 100%;
  }

  .study .hero .hero-right {
    padding-right: 0;
    margin-bottom: 18px;
    padding: 0;
    height: 75vh;
    display: block;
    align-items: center
  }

  .study .hero .hero-left {
    padding: 30px 20px;
    box-sizing: border-box;
    text-align: center;
    width: 100vw;
    height: 25vh;
    max-width: 100%;
    background-color: rgba(0,0,0,.8);
  }

  .study .hero .hero-left img {
    width: 200px;
  }

  .study .hero .hero-right img {
    height: 50vh;
    width: auto;
  }

  .study .hero h5 {
    padding-top: 15px;
    max-width: 500px;
    margin: 0 auto;
  }

  .study .hero a.button {
    margin: 20px 0;
  }

  .contentblock .role {
    padding: 30px 0;
  }

  .contentblock .right p {
    padding-right: 20px;
  }

  .picset {
    flex-direction: column;
  }

  .picset .three img {
    width: 100%;
  }

  .picset .two img {
    width: 100%;
  }

  div.features {
    flex-direction: column;
  }

  div.features .feature {
    margin: 0 auto;
    padding-bottom: 50px;
  }

  #hazel .hero {
    padding-top: 0;
  }

  #hazel .hero .hero-right img {
    margin-top: 100px;
    height: 60vh;
  }

  #hazel #personas img.nomobile {
    display: none;
  }

  #hazel #personas img.nodesk {
    display: initial;
  }

  #hazel .features img {
    height: 110px;
  }

  .about p {
    font-size: 19px;
  }

  .text-box {
    margin: 0;
  }

  #about img {
    height: 200px;
  }

}

@media screen and (max-width: 560px) {

  .study .hero .hero-right {
    height: 60vh;
  }

  .study .hero .hero-left {
    height: 40vh;
  }

  #homepage .howzit {
      margin-top: 100px;
      margin-bottom: 80px;
  }

  #hazel .hero .hero-right img {
    margin-top: 0;
    max-height: 55vh;
  }

  #hazel .hero .hero-right img {
    margin-top: 60px;
  }

  .about p {
    font-size: 18px;
  }

  .text-box {
    margin: 0;
  }

  #about img {
    height: 200px;
  }
}